* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'open sans', sans-serif;
  }
  
  
  
  section {
    position:relative;
    
    min-height:100vh ;
    background:#222;
    display: flex ;
    justify-content: space-between ;
    align-items:center ;
  }
  section .content {
    position:relative;
    padding: 100px 50px 100px 150px;
    box-sizing: border-box;
  }
  section .content h2{
    color: white ;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
    font-size: 3em;
    font-weight: 800;
  }
  
  section .content p {
     color: #fff;
     font-size: 1.2em;
  }
  section .content a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background: black;
    color:blueviolet;
    text-decoration: none;
    font-size: 0.95em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
  
  }
  .nav {
    position: absolute;
    top: 75px ;
    left: 150px;
    display: flex;
    border-left: #fff;
    padding-left: 20px;
  }
  .nav li {
    list-style: none;
  
  }
  .nav li a {
    text-decoration: none ;
    color: blueviolet;
    margin: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
  }
  .nav li a:hover 
  
  {
    color: #fff;
  }
  section .ronaldo git
  {
    position:relative;
    padding-right: 500px;
  }
  
  
  
  
  
  img {
    width: 100%;
    height: auto;
    position: relative;
    animation: first 6s linear 2s infinite alternate;
    border: 2px solid black;
    border-radius: 500px;
  
  }
  @keyframes first {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
  
  }